
AR View/ar_view.xcodeproj/project.pbxproj
AR View/ar_view.xcodeproj/project.xcworkspace/xcuserdata/anpandoh.xcuserdatad/UserInterfaceState.xcuserstate
AR View/ar_view.xcodeproj/xcuserdata/anpandoh.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
*.xcuserstate
*.pbxproj
